.content-wrap {
    width: 80%; margin: 0 auto; max-height: 100%; position: relative; z-index: 20;
    }

.estilo{
	background-color:#f3a200;
	height:200px;

}

.logoport{
	margin: 0 auto;
	width:35%;

}

.containerflex{
	display:flex;
}

.center {
	align-items: center;
}