.content-wrap {
    width: 80%; margin: 0 auto; max-height: 100%; position: relative; z-index: 20;
    }

.textomeio{
    text-align:center;
}

    -------------------------------------------- */ 
h1{
    
}